#container {
	position: relative;
}

#imageView {
    border: 1px solid #000;
}

#imageTemp {
	position: absolute;
    top: 1px;
    left: 1px;
}
.palette-case {
    width:500px;
    text-align:center;
}
.palette {
    display:inline-block;
    border:2px solid #777;
    height:36px;
    width:36px;
    border-radius: 50%;
}
.footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 42px;
    padding:2px;    
}

#controllers {
  width: 600px;
  font-size: 0.8em;
  color: #333;
}

.controller {
  display: inline-block;
  background: #eee;
  border: 1px solid #e7e7e7;
  padding: 5px;
}